@{
    ViewData["Title"] = "buyTicket";
}
<!-- Danh sách phim sắp chiếu -->
<div class="upcoming-movies">
    <h2>Phim Đang Chiếu</h2>
    <div class="movie" style="display:flex;">
        <img src="https://starlight.vn/Areas/Admin/Content/Fileuploads/images/Poster2024/cuoi-xuyen-bien-gioi.jpg" width="100px" alt="Alternate Text" />
        <div style="margin-left:10px;">
            <h3>CƯỜI XUYÊN BIÊN GIỚI</h3>
            <p>Nội dung:Cười Xuyên Biên Giới kể về hành trình của Jin-bong (Ryu Seung-ryong) - cựu vô địch bắn cung quốc gia, sau khi nghỉ hưu, anh đã trở thành một nhân viên văn phòng bình thường. Đứng trước nguy cơ bị sa thải, Jin-bong phải nhận một nhiệm vụ bất khả thi là bay đến nửa kia của trái đất trong nỗ lực tuyệt vọng để sinh tồn. </p>
        </div>

    </div>
    <div class="movie" style="display:flex;">
        <img src="https://th.bing.com/th/id/OIP._tThMs4Q-w4r0iX9KD5DyQHaJ4?w=122&h=180&c=7&r=0&o=5&pid=1.7" width="100px" alt="Alternate Text" />
        <div style="margin-left:10px;">
            <h3>THE WITCH</h3>
            <p>Nhiều năm trước, một thiếu nữ đang đi xe buýt với bạn của mình khi họ thay đổi tuyến đường một cách bí ẩn. Khí gas được ném vào xe buýt khiến mọi người trong xe bất tỉnh.</p>
        </div>

    </div>
    <h2>Phim Sắp Chiếu</h2>
    <div class="movie" style="display:flex;">
        <img src="https://th.bing.com/th?id=OIF.j4f7MwDrcDjmm9%2fTHV67TQ&rs=1&pid=ImgDetMain" width="100px" alt="Alternate Text" />
        <div style="margin-left:10px;">
            <h3>RED ONE</h3>
            <p>Nội dung: Sau khi Ông già Noel (mật danh: Red One) bị bắt cóc, Trưởng An ninh Bắc Cực (Dwayne Johnson) phải hợp tác với thợ săn tiền thưởng khét tiếng nhất thế giới (Chris Evans) trong một nhiệm vụ kịch tính xuyên lục địa để giải cứu Giáng Sinh.</p>
        </div>
        
    </div>
    <div class="movie" style="display:flex;">
        <img src="https://t1.blockdit.com/photos/2023/08/64db20b7c4cdd978c96620f9_800x0xcover_45kHhnAC.jpg" width="100px" alt="Alternate Text" />
        <div style="margin-left:10px;">
            <h3>ĐÔI BẠN HỌC YÊU</h3>
            <p>Nội dung: Bộ phim xoay quanh đôi bạn ngỗ nghịch Jae-hee và Heung-soo cùng những khoảnh khắc “dở khóc dở cười” khi cùng chung sống trong một ngôi nhà. Jae-hee là một cô gái “cờ xanh” với tâm hồn tự do, sống hết mình với tình yêu. </p>
        </div>

    </div>
</div>

<div class="">
    <a href="" style="color:white">Phim Đang Chiếu</a>
    <a href="" style="color:white">Phim Sắp Chiếu</a>
</div>
