@{
    ViewData["Title"] = "buyTicket";
}
<!-- Carousel quảng cáo -->
<div class="carouselTicket">
    <div class="carousel-ticket-slide">
        <img src="https://th.bing.com/th/id/OIP.HdtliiCYvRH9XCey_e0ExAHaEK?rs=1&pid=ImgDetMain" width="200px" alt="Quảng cáo 1">
    </div>
    <div class="carousel-ticket-slide">
        <img src="https://th.bing.com/th/id/R.8ec89a6654b8b35dafadc0d6d47b8380?rik=WmyYTrhwfHtZKQ&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fRCVFSiJ.jpg&ehk=BNAA9pzYYJYVHkwXGE1pfwfA%2fdbU%2fMAvaiFB7Ip3uGA%3d&risl=&pid=ImgRaw&r=0" width="200px" alt="Quảng cáo 2">
    </div>
    <div class="carousel-ticket-slide">
        <img src="https://th.bing.com/th/id/R.8ec89a6654b8b35dafadc0d6d47b8380?rik=WmyYTrhwfHtZKQ&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fRCVFSiJ.jpg&ehk=BNAA9pzYYJYVHkwXGE1pfwfA%2fdbU%2fMAvaiFB7Ip3uGA%3d&risl=&pid=ImgRaw&r=0" width="200px" alt="Quảng cáo 2">
    </div>
</div>

<!-- Danh sách phim sắp chiếu -->
<div class="upcoming-movies">
    <h2>Phim Sắp Chiếu</h2>
    <div class="movie" style="display:flex;">
        <img src="https://th.bing.com/th/id/R.0d78be20ed7377dfe37bdc75828f87a8?rik=x2AAUQBoO%2bGFYg&pid=ImgRaw&r=0" width="100px" alt="Alternate Text" />
        <div style="margin-left:10px;">
            <h3>Tên Phim 1</h3>
            <p>Nội dung: Một câu chuyện về hành trình đầy cảm xúc...</p>
        </div>
        
    </div>
    <div class="movie" style="display:flex;">
        <img src="https://th.bing.com/th/id/R.0d78be20ed7377dfe37bdc75828f87a8?rik=x2AAUQBoO%2bGFYg&pid=ImgRaw&r=0" width="100px" alt="Alternate Text" />
        <div style="margin-left:10px;">
            <h3>Tên Phim 1</h3>
            <p>Nội dung: Một câu chuyện về hành trình đầy cảm xúc...</p>
        </div>

    </div>

    

    <!-- Thêm các phim khác tương tự -->
</div>
