@*
    
*@
@{
    ViewData["Title"] = "Film details";
}
<section class="banner">
	<div class="container" style="padding-top: 20px;">
		<img src="https://www.tallengestore.com/cdn/shop/products/Midway_2019_-_Hollywood_War_WW2_Original_Movie_Poster_f261718e-611c-4143-9a6c-9db2fa9bdf4d.jpg?v=1582782916" alt="Phim">
	</div>
</section>
