@*
    
*@
@{
    ViewData["Title"] = "Film details";
}
<section class="banner">
	<div class="ratio ratio-16x9">
		@* <video width="4000" height="800" controls>
			<source src="https://hvuheduvn-my.sharepoint.com/:v:/g/personal/2105ct0096_dhv_edu_vn/ESBIguJcA4FDgc8y_LWW2zoBLMBZdQms3AHOSHem9YDmDA?nav=eyJyZWZlcnJhbEluZm8iOnsicmVmZXJyYWxBcHAiOiJPbmVEcml2ZUZvckJ1c2luZXNzIiwicmVmZXJyYWxBcHBQbGF0Zm9ybSI6IldlYiIsInJlZmVycmFsTW9kZSI6InZpZXciLCJyZWZlcnJhbFZpZXciOiJNeUZpbGVzTGlua0NvcHkifX0&e=3DWALR" type="video/mp4">
			Trình duyệt bạn không hỗ trợ loại video này.
		</video> *@
		<iframe src="https://hvuheduvn-my.sharepoint.com/personal/2105ct0096_dhv_edu_vn/_layouts/15/embed.aspx?UniqueId=e2824820-035c-4381-81cf-32fcb596db3a&embed=%7B%22ust%22%3Atrue%2C%22hv%22%3A%22CopyEmbedCode%22%7D&referrer=StreamWebApp&referrerScenario=EmbedDialog.Create" width="1250" height="800" frameborder="0" scrolling="no" allowfullscreen title="The Coconut Song - (Da Coconut Nut).mp4"></iframe>
	</div>
	<div class="container" style="padding-top: 20px; color:white;">
		<h2>COCONUT TẬP 1</h2>
		<br /><br />
		<div class="container">
			<div class="d-flex justify-content-between align-items-center">
				<h2>CÁC TẬP</h2>
				<div class="btn-group">
					<button class="btn btn-outline-light btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
						Phần
					</button>
					<ul class="dropdown-menu">
						<li>Phần 1</li>
						<li>Phần 2</li>
					</ul>
				</div>
			</div>
			<br />
			<div class="border rounded-3" style="padding: 20px;">
				<button type="button" class="btn btn-light ep">Tập 1</button>
				<button type="button" class="btn btn-light ep">Tập 2</button>
				<button type="button" class="btn btn-light ep">Tập 3</button>
				<button type="button" class="btn btn-light ep">Tập 4</button>
				<button type="button" class="btn btn-light ep">Tập 5</button>
				<button type="button" class="btn btn-light ep">Tập 6</button>
				<button type="button" class="btn btn-light ep">Tập 7</button>
				<button type="button" class="btn btn-light ep">Tập 8</button>
				<button type="button" class="btn btn-light ep">Tập 9</button>
				<button type="button" class="btn btn-light ep">Tập 10</button>
				<button type="button" class="btn btn-light ep">Tập 11</button>
				<button type="button" class="btn btn-light ep">Tập 12</button>
				<button type="button" class="btn btn-light ep">Tập 13</button>
				<button type="button" class="btn btn-light ep">Tập 14</button>
				<button type="button" class="btn btn-light ep">Tập 15</button>
			</div>
		</div>
		
	</div>
</section>
