@{
    ViewData["Title"] = "Home Page";
}
<section class="banner">
    <div class="container">
        <img src="banner.jpg" alt="Phim Nổi Bật">
    </div>
</section>

<section class="movies">
    <div class="container">
        <h2>Phim Mới Nhất</h2>
        <div class="movie-list">
            <div class="movie-item">
                <img src="https://static.themphim.com/hub/image/images/image-1725549878_8SRjN3pJJ9_2024090515.webp" alt="Phim 1">
            </div>
            <div class="movie-item">
                <img src="https://static.themphim.com/hub/image/images/image-1725549878_8SRjN3pJJ9_2024090515.webp" alt="Phim 1">
            </div>
            <div class="movie-item">
                <img src="https://static.themphim.com/hub/image/images/image-1725549878_8SRjN3pJJ9_2024090515.webp" alt="Phim 1">
            </div>
            <div class="movie-item">
                <img src="https://static.themphim.com/hub/image/images/image-1725549878_8SRjN3pJJ9_2024090515.webp" alt="Phim 1">
            </div>
            <div class="movie-item">
                <img src="https://static.themphim.com/hub/image/images/image-1725549878_8SRjN3pJJ9_2024090515.webp" alt="Phim 1">
            </div>

            <!-- Thêm các phim khác -->
        </div>
    </div>
</section>


