@{
    ViewData["Title"] = "subscription";
}

<div class="subscription-container">
    <div class="subscription-card">
        <div class="price">199,000 VND</div>
        <hr />
        <div class="package-info">
            <h3 style="color:brown">Gói Cơ Bản</h3>
            <ul>
                <li>Xem phim ở chất lượng HD</li>
                <li>Hỗ trợ 1 thiết bị</li>
                <li>Không có quảng cáo</li>
            </ul>
        </div>
        <hr />
        <button class="subscribe-button">Đăng Ký</button>
    </div>

    <div class="subscription-card">
        <div class="price">299,000 VND</div>
        <hr />
        <div class="package-info">
            <h3>Gói Tiêu Chuẩn</h3>

            <ul>
                <li>Xem phim ở chất lượng Full HD</li>
                <li>Hỗ trợ 2 thiết bị</li>
                <li>Không có quảng cáo</li>
            </ul>
        </div>
        <hr />
        <button class="subscribe-button">Đăng Ký</button>
    </div>

    <div class="subscription-card">
        <div class="price">399,000 VND</div>
        <hr />
        <div class="package-info">
            <h3>Gói Cao Cấp</h3>
            <ul>
                <li>Xem phim ở chất lượng 4K</li>
                <li>Hỗ trợ 4 thiết bị</li>
                <li>Không có quảng cáo</li>
                <li>Tải xuống phim</li>
            </ul>
        </div>
        <hr />
        <button class="subscribe-button">Đăng Ký</button>
    </div>
    
    
</div>
