<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - DACN_N3</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/siteAdmin.css" asp-append-version="true" />
</head>
<main>
	<!-- Nội dung của view con sẽ được hiển thị ở đây -->
	
	<div class="">
		<div class="sidebar">
			<h2>Quản Trị</h2>
			<ul>
				<li><a href="~/Admin/home">Bảng Điều Khiển</a></li>
				<li><a href="~/Admin/home/movies">Phim</a></li>
				<li><a href="~/Admin/home/genres">Thể Loại</a></li>
				<li><a href="~/Admin/home/users">Người Dùng</a></li>
				<li><a href="~/Admin/home/settings">Cài Đặt</a></li>
			</ul>
		</div>
		<div style="float:right;display:flex;align-items:center;gap:10px;margin-right:10px;margin-top:10px;">
			<input class="form-control me-2" type="search" placeholder="Tìm kiếm" aria-label="Search" style="border-radius: 20px; padding: 5px 15px; border: 1px solid #ccc;">
			<div style="width:200px">
				<a class="nav-link" onclick="window.location.href='@Url.Action("Logout", "Authority", new { area = "" })'">Đăng Xuất</a>
			</div>
			
		</div>
	</div>
	
	@RenderBody()
</main>
<body>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script>
	window.onbeforeunload = function () {
		// Gửi yêu cầu logout trước khi đóng trang
		fetch('/Authority/Logout', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			credentials: 'same-origin'
		});
	};
</script>