@using DACN_N3.Data
@model User
@{
	ViewData["Title"] = "Login";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="AuthorityBody">
	<div class="form-structor">
		<form id="signUp" asp-action="SignUp" method="post">
			<div class="signup slide-up">
				<h2 class="form-title" id="signup">Đăng ký</h2>
				<div class="form-holder">
					<input asp-for="Username" class="input" placeholder="Tên"/>
					<input asp-for="Email" class="input" placeholder="Email" />
					<input asp-for="Password" class="input" placeholder="Mật khẩu" />
					<span asp-validation-for="Username" class="text-danger"></span>
					<span asp-validation-for="Email" class="text-danger"></span>
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>
				<button id="signUpBtn" type="submit" class="submit-btn">Đăng ký</button>
			</div>
		</form>
		<form asp-action="Login" method="post">
			<div class="login">
				<div class="center">
					<h2 class="form-title" id="login">Đăng nhập</h2>
					<div class="form-holder">
						<input asp-for="Email" type="email" class="input" placeholder="Email" />
						<input asp-for="Password" type="password" class="input" placeholder="Mật khẩu" />
					</div>
					<button class="submit-btn">Đăng nhập</button>
				</div>
			</div>
		</form>
		
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var loginAlert = '@TempData["LoginAlert"]';
        if (loginAlert) {
            Swal.fire({
			  position: "top-end",
			  icon: "error",
			  title: "Đăng ký không thành công",
			  showConfirmButton: false,
			  timer: 1500
			});
        }
    });
</script>

<style>
    /* Optional: Define a custom class to further style the SweetAlert popup */
    .custom-swal-popup {
        border-radius: 10px; /* Rounded corners */
        font-size: 18px; /* Custom font size */
    }

    /* Custom styling for the icon */
    .custom-icon-size {
        font-size: 5px; /* Adjust the icon size */
    }

    .custom-front-size {
        font-size: 20px; /* Adjust the icon size */
    }
</style>