
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="admin-panel">
    <!-- Sidebar -->
    

    <!-- Main Content -->
    <div class="main-content">
        <header>
            <h1>Welcome to Admin Panel</h1>
        </header>

        <div class="dt">
            <section id="dashboard">
                <h2>Dashboard</h2>
                <p>Overview of activities and site statistics.</p>
                
            </section>

            <section id="dashboard">
                <h2>Dashboard</h2>
                <p>Overview of activities and site statistics.</p>
            </section>
        </div>

        <section id="movies">
            <h2>Movies</h2>
            <p>Manage movies available on the website.</p>
        </section>

        <section id="genres">
            <h2>Genres</h2>
            <p>Manage different genres for movies.</p>
        </section>

        <section id="users">
            <h2>Users</h2>
            <p>Manage registered users and their activities.</p>
        </section>

        <section id="settings">
            <h2>Settings</h2>
            <p>Configure website settings.</p>
        </section>
    </div>
</div>

