
@{
    ViewData["Title"] = "Index";
    //Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="nav-ad">
    <ul>
        <li><a href="#">Trang chủ</a></li>
        <li><a href="#">Quản lí phim</a></li>
        <li><a href="#">Doanh thu</a></li>
        <li><a href="#">Khách hàng</a></li>
    </ul>
    
</div>

