@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="main-content">
    <section id="movies">
        <h2>Phim</h2>

        <!-- Button to add a new movie -->
        <button class="add-movie-btn" >Thêm Phim</button>
        
        <table>
            <thead>
                <tr>
                    <th>Hình Ảnh</th>
                    <th>Tên Phim</th>
                    <th>Thông Tin Phim</th>
                    <th>Link Phim</th>
                    <th>Chức Năng</th>
                    <th>Ẩn/Hiện</th>
                </tr>
            </thead>
            <tbody>
                <!-- Movie Row -->
                <tr>
                    <td>
                        <div class="image-wrapper">
                            <img src="image.jpg" alt="Movie Image">
                            <input type="file" accept="image/*">
                        </div>
                    </td>
                    <td><input type="text" value="Tên Phim"></td>
                    <td>
                        <p>Thể loại</p>
                        <h5>kinh dị</h5>
                        <textarea>Thông Tin Phim</textarea>
                    </td>
                    <td class="seasons">
                        <!-- Seasons List -->
                        <div class="season-list">
                        </div>
                        <button class="add-season-btn">Thêm Mùa</button>
                    </td>
                    <td style="display:flex;gap:10px;">
                        <button class="save-btn-movies">Lưu</button>
                        <button class="delete-btn">Xóa</button>
                    </td>
                    <td>
                        <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>
                <!-- Additional rows as needed -->
            </tbody>
        </table>
    </section>
</div>


<!-- Modal for Adding New Movie -->



