@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@using DACN_N3.Data;
@{
    

}
<div class="main-content">
    <section id="customers">
        <h2>Customer Management</h2>
        <table>
            <thead>
                <tr>
                    <th>Tên</th>
                    <th>Email</th>
                    <th>Gói</th>
                   
                </tr>
            </thead>
            <tbody>
                <!-- Customer Row -->
                @foreach(var user in Model)
                {
                    
                    <tr>
                        <td>@user.Username</td>
                        <td>@user.Email</td>
                        <td>@if (user.Subscriptions.Count > 0)
                            {
                                @foreach (var sub in user.Subscriptions)
                                {
                                    @sub
                                }
                            }
                            else
                            {
                                <span>Không có gói</span>
                            }
                        </td>
                    </tr>
                }
               
                <!-- Additional rows as needed -->
            </tbody>
        </table>
    </section>

</div>