body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #121111;
    padding: 10px 0;
}
    header .logo img {
        height: 50px;
    }

    header nav ul {
        list-style: none;
        padding: 0;
    }

        header nav ul li {
            display: inline;
            margin-right: 20px;
        }

            header nav ul li a {
                color: #fff;
                text-decoration: none;
            }

.banner img {
    width: 100%;
    height: auto;
}

.movies {
    padding: 20px 0;
}

    .movies h2 {
        text-align: center;
    }

.movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.movie-item {
    flex: 1 1 calc(20% - 20px);
    background-color: #fff;
    padding: 0px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

    .movie-item img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

footer {
    background-color: #121111;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

    footer ul {
        list-style: none;
        padding: 0;
    }

        footer ul li {
            display: inline;
            margin-right: 20px;
        }

            footer ul li a {
                color: #fff;
                text-decoration: none;
            }
